body {
    background-image: url("../images/harrypotterwallpaper.jpg");
    width: 100%;
}

/* The whole body */
.container {
    background-color: black;
    opacity: 0.9;
    width: 900px;
    text-align: center;
    position: relative;
    left: 300px;
    padding-bottom: 30px;

}

/* The start button */
.startbutton {
    font-family: 'Cinzel', serif, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    background-color: #003764;
    border-top-color: #2c4e6b;
    border-left-color: #2c4e6b;
    border-right-color: #001d35;
    border-bottom-color: #001d35;
    width: 90px;
    height: 35px;
}

button:hover {
    background-color: #003764;
    border-top-color: #001d35;
    border-left-color: #001d35;
    border-right-color: #2c4e6b;
    border-bottom-color: #2c4e6b;

}

/* Content */
.content input {
    color: white;
    background-color: black;
    border-style: none;
    font-family: 'Cinzel', serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.content input:hover {
    background-color: #0295b9;
    border-top-color: #05697e;
    border-left-color: #05697e;
    border-bottom-color: #59b5cc;
    border-right-color: #59b5cc;
}

.question1,
.question2,
.question3,
.question4,
.question5,
.question6,
.question7,
.question8 {
    display: none;
    opacity: 1;
    font-family: 'Cinzel', serif, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}

.timedisplay {
    display: none;
    font-size: 18px;
}

header,
h2 {
    color: white;
    font-family: 'Cinzel', serif, Arial, Helvetica, sans-serif;
}

h3 {
    color: white;
    font-family: 'Cinzel', serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* results for individual question */
#pass,
#fail,
.goodluck,
.correct,
.wrong,
.outoftime,
.correctdobby,
.correctblack,
.correctstag,
.correctbasilisk,
.correcthagrid,
.correctobliviate,
.correctmyrtle,
.correctmap {
    display: none;
}

#dobby-image,
#black-image,
#stag-image,
#basilisk-image,
#hagrid-image,
#obliviate-image,
#myrtle-image,
#map-image {
    display: none;
    width: 300px;
    height: 200px;
}

/* Results */
.results {
    display: none;
}

/* Play Again */
#playagain {
    display: none;
    font-family: 'Cinzel', serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    background-color: silver;
    width: 180px;
    height: 50px;
}